@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

.open-sans-normal {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
/* google fonts end */
/* global styles */
* {
  margin: 0;
  padding: 0;
}

/* shared styles */
.text-primary {
  color: #fd6e0a;
}
.dark {
  color: #181818;
}
.dark-2 {
  color: #474747;
}
.dark-3 {
  color: #757575;
}

.btn-primary {
  color: #ffffff;
  background-color: #fd6e0a;
  font-size: 20px;
  font-weight: 700;
  padding: 18px 35px;
  border-radius: 5px;
  border: none;
}
.btn-primary:hover {
  background: #ce5906;
  cursor: pointer;
}
.btn-secondary {
  color: #fd6e0a;
  background-color: transparent;
  font-size: 20px;
  font-weight: 700;
  padding: 18px 35px;
  border-radius: 5px;
  border: 1px solid #fd6e0a;
}
.btn-secondary:hover {
  background-color: #ce5906;
  color: #ffffff;
  cursor: pointer;
}
.section-title {
  font-size: 35px;
  font-weight: bold;
  color: #181818;
  padding-bottom: 30px;
  text-align: center;
}
.section-description {
  font-size: 18px;
  color: #757575;
  padding-bottom: 40px;
}
.secondary-bg {
  background-color: #fff8f3;
}
.text-center {
  text-align: center;
}
/* .link-primary  {
    text-decoration: none;
    color: #ffffff;
}
.link-secondary {
    text-decoration: none;
    color: #fd6e0a;
} */
/* header styles */
/* nav styles */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 200px;
}
.nav-title {
  font-size: 45px;
  font-weight: 800;
}
nav ul {
  display: flex;
  align-items: center;
}
nav ul li {
  list-style: none;
}
nav li a {
  font-size: 20px;
  font-weight: 400;
  text-decoration: none;
}
nav li a:hover {
  color: #757575;
}
nav ul li:nth-child(1),
nav ul li:nth-child(2) {
  margin-right: 50px;
}
/* header styles */
.header {
  background: url(../images/developer.png), url(../images/header_bg.png),
    #fff8f3;
  background-repeat: no-repeat;
  background-position: top left, bottom right;
}
.banner {
  display: flex;
  justify-content: space-between;
  margin: 0 35px 0 200px;
  align-items: center;
}
.banner-content {
  max-width: 580px;
}
.banner-title {
  font-size: 85px;
  font-weight: 700;
}
.banner-greetings {
  font-size: 45px;
  font-weight: 600;
}
.banner-description {
  font-size: 18px;
  font-weight: 400;
  margin: 50px 0px;
}

.banner-content a {
  text-decoration: none;
  color: #ffffff;
}
/* main section style */

main {
  max-width: 1140px;
  margin: 0 auto;
}
main section {
  margin: 130px 0;
}

/* about section styles */
.about {
  border-radius: 10px;
  padding: 130px 150px;
  text-align: center;
  margin-top: 130px;
}
.about-items {
  display: flex;
  justify-content: space-around;
}
/* what i do section styles */
.what-i-do {
  margin-top: 130px;
}
.skills-container {
  display: flex;
  gap: 24px;
}
.skill {
  padding: 20px;
  border-radius: 5px;
  box-shadow: 2px 2px 20px 2px rgba(0, 0, 0, 0.06);
  background: rgb(255, 255, 255);
  text-align: left;
}
.skill:hover {
  box-shadow: 3px 4px 30px 3px rgba(0, 0, 0, 0.1);
}
.skill .skill-title {
  padding: 30px 0;
  font-size: 20px;
  font-weight: bold;
}
.skill .skill-description {
  font-size: 16px;
}
/* resume section style */
.resume-container {
  display: flex;
  gap: 24px;
  margin-top: 50px;
}
.resume-container hr{
  margin: 30px 0;
}
.resume-column-title {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 30px;
}
.experience-title {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 10px;
}
.experience-sub-title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
}
 .download-cv {
  margin-top: 50px;
 }
 /* footer section styles */

