@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

.open-sans-normal {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
/* google fonts end */
/* global styles */
* {
  margin: 0;
  padding: 0;
}

/* shared styles */
.text-primary {
  color: #fd6e0a;
}
.dark {
  color: #181818;
}
.dark-2 {
  color: #474747;
}

.btn-primary {
  color: #ffffff;
  background-color: #fd6e0a;
  font-size: 20px;
  font-weight: 700;
  padding: 18px 35px;
  border-radius: 5px;
  border: none;
}
.btn-primary:hover {
  background: #ce5906;
  cursor: pointer;
}
.btn-secondary {
  color: #fd6e0a;
  background-color: transparent;
  font-size: 20px;
  font-weight: 700;
  padding: 18px 35px;
  border-radius: 5px;
  border: 1px solid #fd6e0a;
}
.btn-secondary:hover {
  background-color: #ce5906;
  color: #ffffff;
  cursor: pointer;
}
.section-title{
  font-size: 35px;
  font-weight: bold;
  color: #181818;
  padding-bottom: 30px;
}
.section-description {
  font-size: 18px;
  color: #757575;
  padding-bottom: 30px;
}
.secondary-bg {
  background-color: #fff8f3;
}
/* .link-primary  {
    text-decoration: none;
    color: #ffffff;
}
.link-secondary {
    text-decoration: none;
    color: #fd6e0a;
} */
/* header styles */
/* nav styles */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 200px;
}
.nav-title {
  font-size: 45px;
  font-weight: 800;
}
nav ul {
  display: flex;
  align-items: center;
}
nav ul li {
  list-style: none;
}
nav li a {
  font-size: 20px;
  font-weight: 400;
  text-decoration: none;
}
nav li a:hover {
  color: #757575;
}
nav ul li:nth-child(1),
nav ul li:nth-child(2) {
  margin-right: 50px;
}
/* header styles */
.header {
  background: url(../images/developer.png), url(../images/header_bg.png), #fff8f3;
  background-repeat: no-repeat;
  background-position: top left, bottom right;
}
.banner {
  display: flex;
  justify-content: space-between;
  margin: 0 35px  0 200px;
  align-items: center;
}
.banner-content {
  max-width: 580px;
}
.banner-title {
  font-size: 85px;
  font-weight: 700;
}
.banner-greetings {
  font-size: 45px;
  font-weight: 600;
}
.banner-description {
  font-size: 18px;
  font-weight: 400;
  margin: 50px 0px;
}

.banner-content a {
  text-decoration: none;
  color: #ffffff;
}
/* main section style */

main {
  max-width: 1140px;
  margin: 0 auto;
}

/* about section styles */
  .about {
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
    margin-top: 130px;
  }
  .about-items {
    display: flex;
    justify-content: space-around;
  }
